/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body { margin: 0; padding: 0; height: 100%; width: 100%;}

body {
  font: 14px 'Oxygen Mono', monospace;
  margin: 5px;
  background-color: darkslategray;
}

.game-btn-group { margin: 0 }

.game-btn-group button { flex-grow: 1 }

.game-btn-group .groove-left { border-left: groove }

.game-btn-group .groove-left-shaded {
  background-color: #e0e0e0 !important;
  border-left: groove;
}

.game-results {
  flex: 1 1 auto;
  height: 573px;
  padding: 10px 15px 0;
  background-color: rgba(218, 165, 32, 0.2);
}

.game-results h4 {
  text-align: center;
  margin: 10px 0 15px;
  opacity: 1;
  font-size: 20px;
}

.bolded {
  font-weight: 900;
  border: 1px solid gray;
}

.result-block {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 3px 5px;
  padding: 5px;
}

.result-block > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 3px 5px;
  padding: 2px 5px;
  font-size: larger;
  width: 33%;
}

.result-block h5 {
  margin: 0 0 5px 0;
  font-size: x-small;
  font-style: italic;
  font-weight: lighter;
}

.chartWrapper {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.chartSelection {
  margin: 15px auto 5px;
  display: flex;
  justify-content: center
}

.chartSelection > div {
  width: 75%;
}
.chartSelection label i {
  margin-left: 4px;
}

.game-btn-group button:hover, .chartSelection button:hover {
  color: rgb(104, 101, 9);
}

/* add media queries */
@media screen and (max-width: 750px) {  
  .game-results {
    margin-top: 35px;
    width: 75vw;
  }

  .chartWrapper {
    height: 280px;
    width: 280px;
    margin: 0 auto;
  }
}