/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body { margin: 0; padding: 0; height: 100%; width: 100%;}

body {
  font: 14px 'Oxygen Mono', monospace;
  margin: 5px;
  background-color: darkslategray;
}

.bolded {
  font-weight: 900;
  border: 1px solid gray;
}

.chartWrapper {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

/* add media queries */
@media screen and (max-width: 750px) {
  .chartWrapper {
    height: 280px;
    width: 280px;
    margin: 0 auto;
  }
}